@-webkit-keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes rotate_validation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate_validation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heart {
  from {
    opacity: 0;
    font-weight: 400;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart {
  from {
    opacity: 0;
    font-weight: 400;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes background_loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes background_loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes website_loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes website_loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  inset: 0 0 0 0;
  z-index: 2;
  -webkit-animation: background_loader 1s forwards 2s;
          animation: background_loader 1s forwards 2s;
  transform-origin: top;
}
.loader::after {
  content: " ";
  height: 100px;
  width: 100px;
  padding: 20px;
  border-top: 10px solid #9356DC;
  border-right: 10px solid #FF79DA;
  border-bottom: 10px solid #99E2D0;
  border-left: 10px solid transparent;
  border-radius: 50%;
  -webkit-animation: spinner_loader 1s linear infinite;
          animation: spinner_loader 1s linear infinite;
}

body {
  -webkit-animation: website_loader 5s forwards;
          animation: website_loader 5s forwards;
}

header {
  display: flex;
  justify-content: center;
}
header h1 {
  margin: 20px 0px 10px;
}

#search #localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #e9e9e9;
  padding: 15px 0px;
  font-size: 18px;
}
#search #localisation i {
  margin-right: 20px;
}
#search #booking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}
#search #booking .booking_title {
  margin: 30px 40px 0px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  color: black;
}
#search #booking p {
  color: #8b8b8b;
  margin: 20px 40px 30px;
  text-align: center;
}
#search #booking .btn_gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#search #booking .btn_gradient a {
  padding: 15px 25px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: -1px 5px 15px -2px #9E9E9E;
  color: white;
  font-size: 15px;
}
#search #booking .btn_gradient:hover {
  transform: scale(1.02);
}

#fonctionnement {
  margin: 40px 30px;
  counter-reset: pts;
}
#fonctionnement ol {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style-type: none;
}
#fonctionnement ol li {
  padding: 25px 0px;
  margin: 10px 0px;
  background-color: #f6f6f6;
  border-radius: 30px;
  box-shadow: -1px 5px 15px -2px #9E9E9E;
  cursor: pointer;
}
#fonctionnement ol li::before {
  content: " " counter(pts);
  counter-increment: pts;
  position: relative;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  right: 10px;
}
#fonctionnement ol li:hover {
  background-color: rgba(146, 86, 220, 0.1725490196);
  transform: scale(1.02);
}
#fonctionnement ol li:hover i {
  color: #9356DC;
}
#fonctionnement ol li i {
  margin: 0px 7px;
}

#restaurants {
  background-color: #f5f5f5;
  padding: 50px 0px 25px;
}
#restaurants h2 {
  margin-left: 25px;
}
#restaurants #cards_list_restaurants {
  margin: 30px 30px;
}
#restaurants #cards_list_restaurants a {
  color: black;
}
#restaurants #cards_list_restaurants a .cards_restaurants {
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: -1px 5px 15px -2px #9E9E9E;
  margin-bottom: 15px;
  position: relative;
}
#restaurants #cards_list_restaurants a .cards_restaurants:hover {
  transform: scale(1.01);
}
#restaurants #cards_list_restaurants a .cards_restaurants img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#restaurants #cards_list_restaurants a .cards_restaurants span.card_new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: green;
}
#restaurants #cards_list_restaurants a .cards_restaurants .all_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
}
#restaurants #cards_list_restaurants a .cards_restaurants .all_cards .cards_text {
  display: inline-flex;
  flex-direction: column;
  padding: 10px 15px;
}
#restaurants #cards_list_restaurants a .cards_restaurants .all_cards .fa-heart:hover::before {
  -webkit-animation: heart 0.8s;
          animation: heart 0.8s;
  cursor: pointer;
  font-weight: bold;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #363636;
  color: white;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
}
footer nav {
  padding: 20px 0px;
}
footer nav li {
  padding-bottom: 10px;
}
footer nav li .icons-footer {
  margin-right: 5px;
}
footer nav li a {
  color: white;
}/*# sourceMappingURL=Accueil.css.map */