@-webkit-keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes rotate_validation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate_validation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.background_menu {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.menu {
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -25px;
  padding: 25px 25px;
}
.menu .menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu .menu_title h2 {
  font-family: "Shrikhand", sans-serif;
}
.menu .menu_description p {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0px;
  position: relative;
}
.menu .menu_description p::before {
  content: "";
  border-bottom: 2px solid #99E2D0;
  padding: 0px 20px;
  position: absolute;
  top: 20px;
}
.menu .menu_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  margin: 20px 0px;
  box-shadow: 3px 3px 3px rgba(92, 92, 92, 0.582);
  width: 100%;
  -webkit-animation: menu 0.8s ease-out;
          animation: menu 0.8s ease-out;
  overflow: hidden;
}
.menu .menu_card .menu_text {
  margin-left: 10px;
  overflow: hidden;
}
.menu .menu_card .menu_text h3 {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_card .menu_text p {
  text-transform: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_card .menu_prix {
  display: inline-flex;
}
.menu .menu_card .menu_prix p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  margin: 0px 10px 10px 0px;
}
.menu .menu_card .menu_prix .menu_card_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  padding: 20px 5px;
  margin-right: -55px;
  width: 55px;
  transition: margin-right 0.5s;
}
.menu .menu_card .menu_prix .menu_card_check i::before {
  padding: 5px;
  border: 1px solid #99E2D0;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
}
.menu .menu_card:hover .menu_card_check {
  margin-right: 0px;
}
.menu .menu_card:hover i {
  -webkit-animation: rotate_validation 0.5s ease-out;
          animation: rotate_validation 0.5s ease-out;
}
.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 50px;
  padding: 15px 60px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: -1px 5px 15px -2px #9E9E9E;
  color: white;
  font-size: 15px;
}/*# sourceMappingURL=menus.css.map */