@mixin d_flex ($display, $justify_content, $align_items, $flex_direction : row) {
  display: $display;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-direction: $flex_direction;
}

@mixin anim_heart ($Bclip : text, $Fcolor : transparent) {
  animation: heart 0.8s;
  cursor: pointer;
  font-weight: bold;
  // dégradé de couleur texte :
  background: -webkit-linear-gradient($color_primary, $color_secondary);
  -webkit-background-clip: $Bclip;
  -webkit-text-fill-color: $Fcolor;
}