// ---fonts---
$logo_and_title_fonts : 'Shrikhand',
sans-serif;
$text_fonts :'Roboto',
sans-serif;

// ---couleurs---
$color_primary : #9356DC;
$color_secondary : #FF79DA;
$color_green : #99E2D0;
$color_grey : rgb(223, 222, 222);
$color_grey_text : #8b8b8b;
$color_white : white;