@import "./_variables";
@import "./mixins";
@import "./animations.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; 
  font-family: $text_fonts;
}

h1 {
  font-size: 28px;
  font-family: $logo_and_title_fonts;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}


img {
  object-fit: cover;
}

// ---------

header {
  display: flex;
  justify-content: center;

  h1 {
    margin: 20px 0px 10px;
  }
}

#search {
  #localisation {
    @include d_flex(flex, center, center);
    background-color: #e9e9e9;
    padding: 20px 0px;
    font-size: 18px;

    i {
      margin-right: 20px;
    }
  }

  #booking {
    @include d_flex(flex, center, center, column);
    background-color: #f5f5f5;
    padding-bottom: 60px;

    .booking_title {
      margin: 30px 40px 0px;
      font-weight: bolder;
      text-align: center;
      font-size: 30px;
      color: black;
    }

    p {
      color: $color_grey_text;
      margin: 20px 40px 30px;
      text-align: center;
    }

    a {
      padding: 17px;
      margin: 0px 19%;
      border-radius: 30px;
      background: linear-gradient($color_secondary, $color_primary);
      box-shadow: -1px 5px 15px -2px #9E9E9E;
      color: white;
      font-size: 15px;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

#fonctionnement {
  margin: 40px 30px;
  counter-reset: pts; //https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters#:~:text=The%20list%2Ditem%20counter%20can,list%20items%20increment%20or%20decrement.

  ol {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    list-style-type: none;

    li {
      padding: 25px 0px;
      margin: 10px 0px;
      background-color: #f6f6f6;
      border-radius: 30px;
      box-shadow: -1px 5px 15px -2px #9E9E9E;
      cursor: pointer;

      &::before {
        content: " "counter(pts);
        counter-increment: pts;
        position: relative;
        background-color: $color_primary;
        padding: 5px 10px;
        border-radius: 50%;
        color: white;
        right: 10px;
      }

      &:hover {
        background-color: #9256dc2c;
        transform: scale(1.02);

        i {
          color: $color_primary;
        }
      }

      i {
        margin: 0px 7px;
      }
    }
  }
}

#restaurants {
  background-color: #f5f5f5;
  padding: 50px 0px 25px;

  h2 {
    margin-left: 25px;
  }

  #cards_list_restaurants {
    margin: 30px 30px;

    a {
      color: black;

      .cards_restaurants {
        background-color: #f2f2f2;
        border-radius: 15px;
        box-shadow: -1px 5px 15px -2px #9E9E9E;
        margin-bottom: 15px;
        position: relative;

        &:hover {
          transform: scale(1.01);
        }

        img {
          width: 100%;
          height: 150px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        span.card_new {
          position: absolute;
          right: 15px;
          top: 15px;
          padding: 5px;
          border-radius: 2px;
          background-color: $color_green;
          color: green;

        }

        .all_cards {
          @include d_flex(flex, space-between, center);
          margin-right: 15px;

          .cards_text {
            display: inline-flex;
            flex-direction: column;
            padding: 10px 15px;
          }

          .fa-heart {
            &:hover::before {
              font-weight: bold;
              cursor: pointer;
              // dégradé de couleur texte :
              background: -webkit-linear-gradient($color_primary, $color_secondary);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #363636;
  color: white;
  padding: 20px;

  h3 {
   font-family:$logo_and_title_fonts;
  }

  nav {
    padding: 20px 0px;

    li {
      padding-bottom: 10px;

      .icons-footer {
        margin-right: 5px;
      }

      a {
        color: white;
      }
    }
  }
}


