// Apparition du menu

@keyframes menu {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1);
    }
}


// Check Vert
@keyframes rotate_validation {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        opacity: 1;
    }
}

// Animation du coeur
@keyframes heart {
    from {
        opacity: 0;
        font-weight: 400;
    }

    to {
        opacity: 1;
    }
}

// Fond blanc
@keyframes background_loader {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// Le loader
@keyframes spinner_loader {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

// chargement du site complet
@keyframes website_loader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 