@keyframes menu {
    from {
        opacity: 0;
        transform: translateY(-100px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotate_validation {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        opacity: 1;
    }
}


@keyframes heart {
    from {
        opacity: 0;
        font-weight: 400;
    }

    to {
        opacity: 1;
    }
}

@keyframes background_loader {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
} 

@keyframes spinner_loader {

    0% {
     transform: rotate(0deg);
    }

    100% {
   transform: rotate(360deg);
   
    }
} 

@keyframes website_loader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}