@media screen and (min-width: 779px) {

  header {   
    h1 { 
      &::before {
        right: 50vw;
      }
    }
  }

  #fonctionnement {
    ol {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 0px 10px;
        min-width: 30%;

        i {
          margin: 0px 7px 0px -5px;
        }
      }
    }
  }

  // --------------------- LES MENUS ---------------------
  // --------------------- LES MENUS ---------------------
  // --------------------- LES MENUS ---------------------


}